/* ========== GLOBAL STYLES ========== */

:root {
    --color-blue: rgb(5, 181, 218);
    --color-blue-hex: #05B5DA;
    --color-dark-blue: #0b0f12;
    --color-orange: #f68615;
    --color-dark-orange: #743e08;
    --color-light-blue: #155d77;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Overpass", Arial, sans-serif;
    color: #ffffff;
    background-color: #f9f9f9;
    line-height: 1.6;
}


/* ========== HEADER / NAVIGATION ========== */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem 1rem 2rem;
    background-color: #0d1a24;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #2f4f68;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 30px #000000;
}

header h1 {
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: rgb(5, 181, 218);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-size: 1.2rem;
}

nav a {
    text-decoration: none;
    color: rgb(5, 181, 218);
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

nav a:hover,
nav a:focus {
    color: white;
    font-weight: 900;
    letter-spacing: 1px;
    transition: 0.1s ease-in-out;
}


/* ========== MOBILE MENU ========== */

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 120px;
        right: 0%;
        width: 100%;
        background-color: #0b0f12d6;
        font-size: clamp(2rem, 2vw, 3rem);
        padding: 1rem;
        border-radius: 16px;
        box-shadow: 0px 0px 30px #000000;
    }

    nav ul.active {
        display: flex;
    }

    nav li {
        margin: 0.5rem 0;
    }
}


/* ========== SkipToContent Button ========== */

#skipToContent {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -120%);
    z-index: 800;

    background-color: #fff;
    color: #000;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 10px;
    text-decoration: none;
    transition: transform 0.25s ease-in-out;
}

#skipToContent:focus,
#skipToContent:hover {
    transform: translate(-50%, 10%);
}


/* ========== HERO SECTION ========== */

#hero {
    padding: 2rem 1rem;
    background-color: #343434;
    background-image: url(https://i.redd.it/2l90ix93qncy.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero img {
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    height: auto;
    border-radius: 50%;
    max-width: 250px;
    margin-bottom: 1rem;
    filter: drop-shadow(0px -4px 6px white);
}

#hero .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-direction: row;
    gap: 5%;
    margin: 0 auto;
}

#hero .hero-container #icon {
    width: 50px;
    transition: 0.5s;
    transition-delay: 0.5s;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 6px #000000);
    border-radius: 0px;
}

#hero .hero-container #icon:hover {
    transform: translateY(-10px) rotate(10deg);
    transition: 0.3s;
}

#hero .hero-container>*:first-child {
    flex-basis: 30%;
}

#hero .hero-container>*:last-child {
    flex-basis: 50%;
}

#hero .myIntro {
    display: flex;
    justify-content: center;
    text-align: center;
}

#hero h2 {
    font-size: clamp(2rem, 4vw, 4rem);
    max-width: 80%;
    min-width: 300px;
    margin: 1rem auto;
    text-align: center;
    text-shadow: #000000 0px 4px 10px
}

#hero p {
    max-width: 80%;
    min-width: 250px;
    margin: 1rem auto;
    font-size: clamp(1rem, 2vw, 1.4rem);
    color: #ffffff;
    text-align: center;
    text-shadow: #000000 0px 3px 7px;
}

#hero img.down-arrow {
    filter: drop-shadow(0px 4px 6px #000000);
    width: 3rem;
    display: block;
    margin: 3rem auto;
    animation: bounceFadeFlip 6s ease-in-out infinite;
    transform-origin: center;
}

@keyframes bounceFadeFlip {
    0% {
        transform: translateY(0px) scaleX(-1);
        opacity: 1;
    }

    12.5% {
        transform: translateY(-20px) scaleX(1);
        opacity: 0;
    }

    25% {
        transform: translateY(0px) scaleX(1);
        opacity: 1;
    }

    37.5% {
        transform: translateY(-20px) scaleX(1);
        opacity: 0;
    }

    50% {
        transform: translateY(0px) scaleX(1);
        opacity: 1;
    }

    62.5% {
        transform: translateY(-20px) scaleX(1);
        opacity: 0;
    }

    75% {
        transform: translateY(0px) scaleX(-1);
        opacity: 1;
    }

    87.5% {
        transform: translateY(-20px) scaleX(-1);
        opacity: 0;
    }

    100% {
        transform: translateY(0px) scaleX(-1);
        opacity: 1;
    }
}

#hero p.aboutMe {
    text-align: left;
    max-width: 80%;
    min-width: 300px;
    margin: 30px auto;
}

#aboutMe ul {
    font-size: clamp(1rem, 2vw, 1.2rem);
    list-style: disc;
    text-align: left;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    color: #929292;
}

#aboutMe {
    text-align: center;
}

.button {
    display: block;
    background-color: #0a4069;
    color: #ffffff;
    max-width: 250px;
    margin: 1.2rem auto;
    padding: 0.7rem 1.5rem;
    border-radius: 12px;
    text-decoration: none;
    text-align: center;
    line-height: 1.2rem;
    transition: 0.3s;
    filter: drop-shadow(#000 0px 3px 5px);
}

.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -50px;
    transition: 0.3s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:hover,
.button:focus {
    background-color: #f68615;
    background-color: var(--color-orange);
    text-shadow: 0 2px 5px #743e08;
    transition: 0.3s;
}


/* ========== ABOUT ME SECTION ========== */

#about {
    padding: 3rem 2rem;
    background-color: #fff;
}

#aboutMe h2 {
    font-size: clamp(2rem, 2vw, 3rem);
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: #000000 0px 4px 10px;
}

#about p {
    max-width: 600px;
    margin: 0 auto 1.5rem;
    color: #555;
}


/* ========== PROJECTS SECTION ========== */

#projects {
    position: relative;
    padding: 8rem 2rem;
    background-color: #154e7a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    transition-duration: 0.5s;
    box-shadow: inset 0px 0px 300px #000000;
    overflow: hidden;
}

#projects .background-overlay {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    box-shadow: inset 0px 0px 300px #000000;
    z-index: 0;
}

#projects>*:not(.background-overlay) {
    position: relative;
    z-index: 1;
}

#projects h2 {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px;
}

.project-grid {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: center;
    gap: 1.8rem;
    max-width: 1800px;
    margin: 0 auto;
}

.project-card {
    position: relative;
    height: 24rem;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px;
    text-align: center;
    transition: ease 0.8s;
    transform: scale(95%);
}

.project-card:hover {
    transform: translateY(-15px);
    box-shadow: rgba(0, 0, 0, 0.7) 0px 20px 36px;
    filter: brightness(120%)contrast(100%);
    transition: ease 0.3s;
}

.project-card:active {
    transform: translateY(-15px), scale(97%);
    box-shadow: rgba(0, 0, 0, 0.7) 0px 20px 36px;
    transition: ease 0.3s;
}

.project-card img {
    width: clamp(100%, 1rem, 100%);
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    background-image: url("");
    background: white;
}

.project-card h3 {
    color: #155d77;
    color: var(--color-light-blue);
    font-size: clamp(2rem, 2vw, 1rem);
    line-height: 2.2rem;
    font-weight: 900;
}

.project-card p {
    color: #343434;
    margin: 0rem 1rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.project-card .project-info {
    background-color: white;
    padding: 4% 10%;
}

.project-card .project-info .button {
    filter: drop-shadow(black 0px 0px 0px);
    box-shadow: rgba(0, 0, 0, 0.578) inset 2px 2px 6px;
}


/* ========== CONTACT SECTION ========== */

#contact {
    padding: 7rem 3rem;
    height: auto;
    background: rgb(5, 181, 218);
    text-align: center;
}

#contact h2 {
    color: #0d1a24;
    font-size: clamp(3rem, 4vw, 4rem);
    text-shadow: #00000086 0px 3px 6px;
    font-weight: 900;
    line-height: 4rem;
    margin-bottom: 16px;
}

#contact p {
    font-size: clamp(1.5rem, 1vw, 2rem);
    font-weight: 600;
    color: #ffffff;
    text-shadow: #0a4069 0px 3px 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: clamp(2rem, 1vw, 1rem);
    border-radius: 2rem;
    max-width: 700px;
    filter: drop-shadow(#0a4069 0px 3px 5px);
    background-color: #0d1a24;
    z-index: 7;
}

form {
    width: clamp(400px, 500px, 600px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input,
textarea,
button {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 1rem;
    font-family: inherit;
}

button {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    background-color: #154e7a;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #f68615;
    box-shadow: inset 0 2px 5px #3a1f03;
    text-shadow: 0 2px 5px #3a1f03;
    transition: 0.3s;
}

#contact img {
    position: absolute;
    margin: -4rem 0;
    max-width: 40vw;
    top: 40%;
    left: 60%;
    max-width: 60%;
    z-index: 5;
}

.visually-hidden {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: black;
    background-color: white;
}


/* ========== FOOTER ========== */

footer {
    position: fixed;
    bottom: 0;
    height: clamp(3rem, 6vh, 4rem);
    width: 100vw;
    background-color: #0b0f12;
    display: flex;
    z-index: 1100;
    box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.5);
}

footer .footerContent {
    display: flex;
    width: 100%;
    align-items: center;
}

footer p {
    color: rgb(5, 181, 218);
    font-size: clamp(0.9rem, 1.2vw, 1.05rem);
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

footer .socialIcons {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 75%;
    gap: 1rem;
    justify-content: center;
}

footer img {
    display: inline-block;
    width: clamp(1.5rem, 2rem, 3.5rem);
    filter: drop-shadow(#000 0px 3px 5px);
    transition: 0.3s;
}

footer img:hover,
footer img:focus {
    transform: scale(1.1)translateY(-5px);
    filter: drop-shadow(#000 0px 3px 5px)brightness(120%)contrast(120%);
    transition: 0.3s;
}


/* ========== BackToTop Button ========== */

#backToTop {
    position: fixed;
    bottom: clamp(3rem, 6vh, 4rem);
    right: 2%;
    z-index: 1000;
    background-color: white;
    color: black;
    border-radius: 20px 20px 0px 0px;
    padding: 10px 30px 4px 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 0px -2px 10px;
    text-decoration: none;
    transform: scale(1);
    transition: 0.3s;
}

#backToTop:hover,
#backToTop:focus {
    padding: 10px 30px 20px 30px;
    transition: 0.3s;
}


/* ========== RESPONSIVE DESIGN ========== */

@media (max-width: 1024px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    #hero h2 {
        font-size: 1.5rem;
    }

    .project-grid {
        grid-template-columns: 1fr 1fr;
    }

    #contact img {
        position: unset;
        margin: -15% auto;
        z-index: 5;
    }

}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    #hero .hero-container {
        flex-direction: column;
        max-width: 90%;
    }

    #hero .hero-container {
        gap: 0%;
    }

    #hero h2 {
        font-size: 1.5rem;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }

    #backToTop {
        display: none;
    }
}

@media (min-width: 769px) {
    #hero .hero-container>*:first-child {
        max-width: 30%;
    }

    #hero .hero-container>*:last-child {
        max-width: 50%;
    }
}


